.header {
  display: flex;
}

.title {
  margin-top: -10px;
  margin-bottom: 0.9em;
  flex: 1 1 0;
}

.date {
  font-style: italic;
  font-size: .8rem;
  color: #6d6d6d;
  text-shadow: 1px 1px 2px #aeaeae;
}
